Source: ariac3
Standards-Version: 3.9.6
Maintainer: "S. Loretz" <sloretz@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake,
 debhelper (>= 9),
 libgazebo9-dev (>= 9.6.0),
 ros-melodic-ros,
 ros-melodic-std-msgs,
 ros-melodic-common-msgs,
 ros-melodic-image-common,
 ros-melodic-geometry-msgs,
 ros-melodic-gazebo-plugins (>= 2.8.4),
 ros-melodic-gazebo-ros (>= 2.8.4)
Homepage: http://gazebosim.org/ariac

Package: ariac3
Architecture: any
Section: devel
Priority: extra
Depends: libgazebo9-dev (>= 9.6.0),
 ros-melodic-ros,
 ros-melodic-std-msgs,
 ros-melodic-common-msgs,
 ros-melodic-image-common,
 ros-melodic-geometry-msgs,
 ros-melodic-gazebo9-ros-pkgs,
 ros-melodic-gazebo9-ros-control,
 ros-melodic-ros-controllers,
 ros-melodic-controller-manager,
 ros-melodic-effort-controllers,
 ros-melodic-joint-state-publisher,
 ros-melodic-joint-state-controller,
 ros-melodic-robot-state-publisher,
 ros-melodic-xacro,
 ${misc:Depends}
Description: Agile Robotics for Industrial Automation Competition (ARIAC)
 ARIAC requires participants to complete a series of tests centered in an
 industrial scenario that are based around order fulfillment.
