Source: ariac2
Standards-Version: 3.9.6
Maintainer: D. Hood <dhood@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake,
 debhelper (>= 9),
 libgazebo8-dev,
 ros-kinetic-ros,
 ros-kinetic-std-msgs,
 ros-kinetic-common-msgs,
 ros-kinetic-image-common,
 ros-kinetic-geometry-msgs,
 ros-kinetic-gazebo8-plugins,
 ros-kinetic-gazebo8-ros
Homepage: http://gazebosim.org/ariac

Package: ariac2
Architecture: any
Section: devel
Priority: extra
Depends: libgazebo8-dev,
 ros-kinetic-ros,
 ros-kinetic-std-msgs,
 ros-kinetic-common-msgs,
 ros-kinetic-image-common,
 ros-kinetic-geometry-msgs,
 ros-kinetic-gazebo8-ros-pkgs,
 ros-kinetic-gazebo8-ros-control,
 ros-kinetic-ros-controllers,
 ros-kinetic-controller-manager,
 ros-kinetic-effort-controllers,
 ros-kinetic-joint-state-publisher,
 ros-kinetic-joint-state-controller,
 ros-kinetic-robot-state-publisher,
 ros-kinetic-xacro,
 ${misc:Depends}
Description: Agile Robotics for Industrial Automation Competition (ARIAC)
 ARIAC requires participants to complete a series of tests centered in an
 industrial scenario that are based around order fulfillment.
